<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <div class="footer-container">
            <h3>Spartans</h3>
            <p>@ 2024 Spartans. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="../Pages/about.html">About Us</a></li>
                <li><a href="../Pages/contact.html">Contact</a></li>
                <li><a href="../Pages/policy.html">Our Policies</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>