<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../public/CSS/app.css"></head>
<body>

   <nav class="nav-container">
    <div class="logo">
        <a href="../Pages/home.html">Spatan World</a>
    </div>

    <ul class="nav-links">
        <li><a href="../Pages/home.html">Spatan World</a></li>
        <li><a href="../Pages/home.html">Home</a></li>
        <li><a href="../Pages/login.html">Login</a></li>
        <li><a href="../Pages/register.html">Register</a></li>

    </ul>

   </nav>

    
</body>
</html>