<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../public/CSS/app.css"></head>
<body>

   <nav class="nav-container">
    <div class="logo">
        <a href="../Pages/home.html">Spartan World</a>
    </div>

    <ul class="nav-links">
        <div id="menuList">
        <li><a href="../Pages/home.html">Spartan World</a></li>
        <li><a href="../Pages/home.html">Home</a></li>
        <li><a href="../Pages/login.html">Login</a></li>
        <li><a href="../Pages/register.html">Register</a></li>
        <li><a href="../Pages/toDo.html">Spartans TO-DO</a></li>
        <li><a href="../Pages/calculator.html">Spartans Calculator</a></li>


    </div>
        <div id="menubar" class="showmenu" onclick="handleMenu()">=</div>

        

    </ul>

   </nav>
   <script src="../jquery/jquery.js" type="text/javascript"></script>
   <script src="../Scripts/index.js"></script>
</body>
</html>